body {
    background-color: #3b8dc2!important;
}

header {
    padding-top: .4rem;
    padding: .4rem;
}

.inputSearch {
    margin-right: 0px !important;
    width: 40%
}

.bg-primary-trello {
    background-color: #296aa7
}

.navbar {
    padding: .2rem 1rem !important;
}

.icon-box {
    color: #fff;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 3px;
    border: none;
    height: 32px;
    padding-top: 5px;
    margin: 0;
    min-height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 19px;
}

.icon-box-min {
    display: inline-block;
}

.icon-box-min-rounded {
    float: left;
    border-radius: 100px;
    margin-left: 10px;
    font-size: 10px;
}

.search span {
    color: #fff;
    padding-left: 5px;
    font-size: 18px;
}

.logo {
    opacity: 0.4;
}

.logo:hover {
    opacity: 1;
}

.padding-none {
    padding: 0px !important
}

.user img {
    width: 30px;
    border: 2px solid #fff;
    border-radius: 100px;
}

.menu {
    padding-top: 10px;
    padding-left: 10px
}

.menu a {
    color: #ffffff;
    padding: .4rem;
    font-size: 14px;
    display: inline-block;
}

.menu a:hover {
    color: #ffffff;
}

.menu a::after {
    content: "|";
    padding-left: 8px;
    color: #9ccded
}

.addInput {
    color: #fff;
    background-color: hsla(0, 0%, 0%, .1);
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    height: 40px;
    padding-top: 5px;
    min-height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    cursor: pointer
}

.boxList {
    background-color: #e2e4e6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.boxList button {
    background-color: #59ac44;
    border: none;
    margin: 10px;
}

.boxList h5 {
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
}

.boxList p {
    font-size: .9rem;
}

.boxList span {
    color: #888787;
    cursor: pointer
}

#addCardID {
    padding: 10px;
    margin: 0!important;
    color: #8f8f8f
}

#addCardID:hover {
    background: #d0d0d0;
    text-decoration: underline;
    color: #404040;
    cursor: pointer;
}

.card {
    background-color: #fff;
    border-radius: 3px;
    padding: .4rem
}

.card:hover {
    background-color: #f1f1f1
}

.tableros {
    font-size: .8rem;
    font-weight: bold;
}

.center {
    text-align: center;
}

.white {
    color: #fff
}

.tittle {
    font-weight: bold;
    font-size: 1rem !important;
}

.icon-min {
    padding-left: 10px;
    font-size: .7rem;
}

.show-menu {
    text-decoration: underline;
    color: white;
    font-size: .9rem;
}

.listTittle {
    font-size: 1rem;
    font-weight: bold;
    color: #403f3f;
    padding: 5px;
}

#inputAddNewCard {
    font-size: .9rem;
}

@media (max-width: 1200px) {
    .tableros {
        display: none;
    }
    .icon-box {
        width: 33px
    }
    .inputSearch {
        display: none;
    }
}